@* start date: feb. 2, 2024 *@
@{
    ViewData["Title"] = "Projects";
}

<div class="container">
    @* grid layout for two grids of different widths *@
    <br />
    <div class="row">
        <div class="col-6">
            <h1 class="display-1">Hi there!</h1>
            <h4>
                I'm <span style="color:lightpink">Tiana Larmond</span> a fourth year university student and an aspiring web develope. I view websites as a creative way to
                introduce someone to a person, thing or brand. My focus is mainly on ASP.NET Core, HTML, CSS and Javascript at the moment,
                however, I am also practicing to improve at SQL. This website is a look ath projects I'm currently working on.</h4>
        </div>
        <div class="col">
            <img src="~/img/tianaaboutme.png" alt="Image of Tiana Larmond" />
        </div>
    </div>
    
    <br /><br />

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/makeupCardImage.png" class="card-img-top" alt="Makeup Image">
                <div class="card-body">
                    <h5 class="card-title">Makeup</h5>
                    <p class="card-text">
                        This website was created because of my love of makeup. It presents a general overview of what makeup is and the different
                        types of makeup. It also features some big makeup brands.
                    </p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
